{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block header_title %}
    {%  if editMode %}
        <h1>Modifier un utilisateur</h1>
    {%  else  %}
        <h1>Créer un utilisateur</h1>
    {%  endif  %}
{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">

        {{ form_start(form) }}

        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.roles.0) }}
        {{ form_row(form._token) }}

        <button type="submit" class="btn btn-success">
            {%  if editMode %}
                Enregistrer les modifications
            {%  else  %}
                Ajouter
            {%  endif  %}
        </button>
        {{  form_end(form, {'render_rest': false}) }}

    </div>
{% endblock %}
